<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ellosoft Rule Set" ToolsVersion="17.0">
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1006" Action="Error" />
    <Rule Id="S1048" Action="Error" />
    <Rule Id="S1066" Action="Error" />
    <Rule Id="S107" Action="Error" />
    <Rule Id="S108" Action="Error" />
    <Rule Id="S110" Action="Error" />
    <Rule Id="S1110" Action="Error" />
    <Rule Id="S1117" Action="Error" />
    <Rule Id="S1118" Action="Error" />
    <Rule Id="S112" Action="Error" />
    <Rule Id="S1121" Action="Error" />
    <Rule Id="S1123" Action="Error" />
    <Rule Id="S1133" Action="Error" />
    <Rule Id="S1134" Action="Error" />
    <Rule Id="S1135" Action="Info" />
    <Rule Id="S1144" Action="Error" />
    <Rule Id="S1163" Action="Error" />
    <Rule Id="S1168" Action="Error" />
    <Rule Id="S1172" Action="Error" />
    <Rule Id="S1186" Action="Error" />
    <Rule Id="S1215" Action="Error" />
    <Rule Id="S125" Action="Info" />
    <Rule Id="S1313" Action="Error" />
    <Rule Id="S1479" Action="Error" />
    <Rule Id="S1607" Action="Error" />
    <Rule Id="S1656" Action="Error" />
    <Rule Id="S1699" Action="Error" />
    <Rule Id="S1751" Action="Error" />
    <Rule Id="S1764" Action="Error" />
    <Rule Id="S1848" Action="Error" />
    <Rule Id="S1854" Action="Error" />
    <Rule Id="S1862" Action="Error" />
    <Rule Id="S1871" Action="Error" />
    <Rule Id="S1944" Action="Error" />
    <Rule Id="S2053" Action="Error" />
    <Rule Id="S2068" Action="Error" />
    <Rule Id="S2076" Action="Error" />
    <Rule Id="S2077" Action="Error" />
    <Rule Id="S2078" Action="Error" />
    <Rule Id="S2083" Action="Error" />
    <Rule Id="S2091" Action="Error" />
    <Rule Id="S2114" Action="Error" />
    <Rule Id="S2115" Action="Error" />
    <Rule Id="S2123" Action="Error" />
    <Rule Id="S2166" Action="Error" />
    <Rule Id="S2178" Action="Error" />
    <Rule Id="S2187" Action="Error" />
    <Rule Id="S2190" Action="Error" />
    <Rule Id="S2198" Action="Error" />
    <Rule Id="S2201" Action="Error" />
    <Rule Id="S2222" Action="Error" />
    <Rule Id="S2223" Action="Error" />
    <Rule Id="S2225" Action="Error" />
    <Rule Id="S2234" Action="Error" />
    <Rule Id="S2245" Action="Error" />
    <Rule Id="S2251" Action="Error" />
    <Rule Id="S2252" Action="Error" />
    <Rule Id="S2257" Action="Error" />
    <Rule Id="S2259" Action="Error" />
    <Rule Id="S2275" Action="Error" />
    <Rule Id="S2290" Action="Error" />
    <Rule Id="S2291" Action="Error" />
    <Rule Id="S2306" Action="Error" />
    <Rule Id="S2326" Action="Error" />
    <Rule Id="S2342" Action="Warning" />
    <Rule Id="S2346" Action="Error" />
    <Rule Id="S2365" Action="Error" />
    <Rule Id="S2368" Action="Error" />
    <Rule Id="S2372" Action="Error" />
    <Rule Id="S2376" Action="Error" />
    <Rule Id="S2436" Action="Error" />
    <Rule Id="S2437" Action="Error" />
    <Rule Id="S2445" Action="Error" />
    <Rule Id="S2479" Action="Error" />
    <Rule Id="S2551" Action="Error" />
    <Rule Id="S2583" Action="Error" />
    <Rule Id="S2589" Action="Error" />
    <Rule Id="S2612" Action="Error" />
    <Rule Id="S2631" Action="Error" />
    <Rule Id="S2681" Action="Error" />
    <Rule Id="S2688" Action="Error" />
    <Rule Id="S2692" Action="Error" />
    <Rule Id="S2696" Action="Error" />
    <Rule Id="S2699" Action="Error" />
    <Rule Id="S2743" Action="Error" />
    <Rule Id="S2755" Action="Error" />
    <Rule Id="S2757" Action="Error" />
    <Rule Id="S2761" Action="Error" />
    <Rule Id="S2857" Action="Error" />
    <Rule Id="S2925" Action="Error" />
    <Rule Id="S2930" Action="Error" />
    <Rule Id="S2933" Action="Error" />
    <Rule Id="S2953" Action="Error" />
    <Rule Id="S2970" Action="Error" />
    <Rule Id="S2971" Action="Error" />
    <Rule Id="S2995" Action="Error" />
    <Rule Id="S2996" Action="Error" />
    <Rule Id="S2997" Action="Error" />
    <Rule Id="S3005" Action="Error" />
    <Rule Id="S3010" Action="Error" />
    <Rule Id="S3011" Action="Error" />
    <Rule Id="S3060" Action="Error" />
    <Rule Id="S3063" Action="Error" />
    <Rule Id="S3168" Action="Error" />
    <Rule Id="S3169" Action="Error" />
    <Rule Id="S3172" Action="Error" />
    <Rule Id="S3217" Action="Error" />
    <Rule Id="S3218" Action="Error" />
    <Rule Id="S3237" Action="Error" />
    <Rule Id="S3244" Action="Error" />
    <Rule Id="S3246" Action="Error" />
    <Rule Id="S3249" Action="Error" />
    <Rule Id="S3262" Action="Error" />
    <Rule Id="S3263" Action="Error" />
    <Rule Id="S3264" Action="Error" />
    <Rule Id="S3265" Action="Error" />
    <Rule Id="S3329" Action="Error" />
    <Rule Id="S3343" Action="Error" />
    <Rule Id="S3346" Action="Error" />
    <Rule Id="S3358" Action="Error" />
    <Rule Id="S3415" Action="Error" />
    <Rule Id="S3427" Action="Error" />
    <Rule Id="S3433" Action="Error" />
    <Rule Id="S3442" Action="Error" />
    <Rule Id="S3443" Action="Error" />
    <Rule Id="S3445" Action="Error" />
    <Rule Id="S3447" Action="Error" />
    <Rule Id="S3449" Action="Error" />
    <Rule Id="S3451" Action="Error" />
    <Rule Id="S3453" Action="Error" />
    <Rule Id="S3457" Action="Error" />
    <Rule Id="S3464" Action="Error" />
    <Rule Id="S3466" Action="Error" />
    <Rule Id="S3597" Action="Error" />
    <Rule Id="S3598" Action="Error" />
    <Rule Id="S3600" Action="Error" />
    <Rule Id="S3603" Action="Error" />
    <Rule Id="S3610" Action="Error" />
    <Rule Id="S3649" Action="Error" />
    <Rule Id="S3655" Action="Error" />
    <Rule Id="S3776" Action="Error" />
    <Rule Id="S3869" Action="Error" />
    <Rule Id="S3871" Action="Error" />
    <Rule Id="S3875" Action="Error" />
    <Rule Id="S3877" Action="Error" />
    <Rule Id="S3881" Action="Error" />
    <Rule Id="S3884" Action="Error" />
    <Rule Id="S3885" Action="Error" />
    <Rule Id="S3889" Action="Error" />
    <Rule Id="S3903" Action="Error" />
    <Rule Id="S3904" Action="Error" />
    <Rule Id="S3923" Action="Error" />
    <Rule Id="S3925" Action="Error" />
    <Rule Id="S3926" Action="Error" />
    <Rule Id="S3927" Action="Error" />
    <Rule Id="S3928" Action="Error" />
    <Rule Id="S3949" Action="Error" />
    <Rule Id="S3966" Action="Error" />
    <Rule Id="S3971" Action="Error" />
    <Rule Id="S3972" Action="Error" />
    <Rule Id="S3973" Action="Error" />
    <Rule Id="S3981" Action="Error" />
    <Rule Id="S3984" Action="Error" />
    <Rule Id="S3998" Action="Error" />
    <Rule Id="S4015" Action="Error" />
    <Rule Id="S4019" Action="Error" />
    <Rule Id="S4035" Action="Error" />
    <Rule Id="S4070" Action="Error" />
    <Rule Id="S4143" Action="Error" />
    <Rule Id="S4144" Action="Error" />
    <Rule Id="S4159" Action="Error" />
    <Rule Id="S4200" Action="Error" />
    <Rule Id="S4210" Action="Error" />
    <Rule Id="S4211" Action="Error" />
    <Rule Id="S4220" Action="Error" />
    <Rule Id="S4260" Action="Error" />
    <Rule Id="S4275" Action="Error" />
    <Rule Id="S4277" Action="Error" />
    <Rule Id="S4423" Action="Error" />
    <Rule Id="S4426" Action="Error" />
    <Rule Id="S4428" Action="Error" />
    <Rule Id="S4433" Action="Error" />
    <Rule Id="S4456" Action="Error" />
    <Rule Id="S4487" Action="Error" />
    <Rule Id="S4502" Action="Error" />
    <Rule Id="S4524" Action="Error" />
    <Rule Id="S4545" Action="Error" />
    <Rule Id="S4581" Action="Error" />
    <Rule Id="S4583" Action="Error" />
    <Rule Id="S4586" Action="Error" />
    <Rule Id="S4635" Action="Error" />
    <Rule Id="S4790" Action="Error" />
    <Rule Id="S4792" Action="Error" />
    <Rule Id="S4830" Action="Error" />
    <Rule Id="S5034" Action="Error" />
    <Rule Id="S5042" Action="Error" />
    <Rule Id="S5131" Action="Error" />
    <Rule Id="S5135" Action="Error" />
    <Rule Id="S5144" Action="Error" />
    <Rule Id="S5145" Action="Warning" />
    <Rule Id="S5146" Action="Error" />
    <Rule Id="S5332" Action="Error" />
    <Rule Id="S5334" Action="Error" />
    <Rule Id="S5443" Action="Error" />
    <Rule Id="S5445" Action="Error" />
    <Rule Id="S5542" Action="Error" />
    <Rule Id="S5547" Action="Error" />
    <Rule Id="S5659" Action="Error" />
    <Rule Id="S5693" Action="Error" />
    <Rule Id="S5753" Action="Error" />
    <Rule Id="S5766" Action="Error" />
    <Rule Id="S5773" Action="Error" />
    <Rule Id="S5856" Action="Error" />
    <Rule Id="S5883" Action="Warning" />
    <Rule Id="S6096" Action="Error" />
    <Rule Id="S6287" Action="Error" />
    <Rule Id="S6350" Action="Error" />
    <Rule Id="S6419" Action="Error" />
    <Rule Id="S6420" Action="Error" />
    <Rule Id="S6422" Action="Error" />
    <Rule Id="S6424" Action="Error" />
    <Rule Id="S6444" Action="Error" />
    <Rule Id="S6561" Action="Error" />
    <Rule Id="S6562" Action="Error" />
    <Rule Id="S6575" Action="Error" />
    <Rule Id="S6580" Action="Error" />
    <Rule Id="S6639" Action="Error" />
    <Rule Id="S6640" Action="Error" />
    <Rule Id="S6641" Action="Error" />
    <Rule Id="S907" Action="Error" />
    <Rule Id="S927" Action="Error" />
  </Rules>
</RuleSet>